<div class="row mt-5">
	<div class="col-10 col-md-6 mx-auto">
		<div class="card p-3 bg-dark bg-gradient">
		<%= form_tag("", method: "get", id:"formulario") do %>
		  <%= tag.div class: "form-floating mb-3" do %>
		  	<%= text_field_tag(:name, "", class: "form-control", placeholder:"Nombre", required: true)  %>
		  	<%= label_tag(:name, "Nombre") %>
		  <% end %>
		  <%= tag.div class: "form-floating mb-3" do %>
		  	<%= email_field_tag(:email, "", class: "form-control", placeholder:"Email")  %>
		  	<%= label_tag(:email, "Email") %>
		  <% end %>
		  <%= tag.div class: "form-floating mb-3" do %>
		  	<%= text_area_tag(:message, "", class: "form-control", placeholder:"Mensaje", style: "height: 100px")  %>
		  	<%= label_tag(:message, "Mensaje") %>
		  <% end %>
		  <%= submit_tag("Enviar", class: "btn btn-outline-light px-4") %>
		<% end %>
		</div>
	</div>
</div>
