<h2 class="text-center text-uppercase py-4">Mis trabajos</h2>
<div class="row">
  <div class="col-10 col-md-6 col-lg-4 mx-auto mb-3">
    <div class="card shadow">
      <%= image_tag "iguana-page", class: "card-img-top" %>
      <div class="card-body p-0">
      <h4 class="card-title py-2 text-center text-warning bg-dark">Iguana Page</h4>
        </div>
        <div class="card-footer">
         <%= link_to "Ver código", "//github.com/mach-911/fullstack-ror/tree/iguana-page", target: "_blank", class: "my-btn" %> 
        <%= link_to "Ver demo", "//mach-911.github.io/fullstack-ror/desafios/evaluados/iguana-page/", target: "_blank", class: "my-btn" %>
        </div>
    </div>  
  </div>
  <div class="col-10 col-md-6 col-lg-4 mx-auto mb-3">
    <div class="card shadow">
      <%= image_tag "cuppons", class: "card-img-top" %>
      <div class="card-body p-0">
        <h4 class="card-title py-2 text-center text-warning bg-dark">Cuppons</h4>
      </div>
      <div class="card-footer">
        <%= link_to "Ver código", "//github.com/mach-911/fullstack-ror/tree/cuppon", target: "_blank", class: "my-btn" %> 
        <%= link_to "Ver demo", "//mach-911.github.io/fullstack-ror/desafios/evaluados/cuppon", target: "_blank", class: "my-btn" %>
      </div>
    </div>  
  </div>
 <div class="col-10 col-md-6 col-lg-4 mx-auto mb-3">
    <div class="card shadow">
      <%= image_tag "ricomida", class: "card-img-top" %>
      <div class="card-body p-0">
      <h4 class="card-title py-2 text-center text-warning bg-dark">Ricomida</h4>
        </div>
        <div class="card-footer">
         <%= link_to "Ver código", "//github.com/mach-911/fullstack-ror/tree/ricomida", target:"_blank", class: "my-btn" %>
        <%= link_to "Ver demo", "//mach-911.github.io/fullstack-ror/desafios/evaluados/ricomida/", target:"_blank", class: "my-btn" %>
        </div>
    </div>  
  </div>
</div>
