<!DOCTYPE html>
<html>
  <head>
    <title>PortfolioRailsD1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!-- CSS BS -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

  <body class="bg-dark">
    <%= render 'shared/nav' %>
    <div class="container my-3">
    <%= yield %>
    </div>
  <!-- JS BS -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
  <script>
    if (location.pathname == "/" || (window.location.href.indexOf("Index") > -1)){
       var typed = new Typed('.typed', {
      strings: ['<span class="text-primary">Marco Contreras</span>', '<i class="text-danger"><b>F</b>ullstack <b>R</b>uby <b>O</b>n <b>R</b>ails<i>'],
      typeSpeed: 70,
      loop: true,
      backSpeed: 50
      });
    }
  </script>
</body>
  </body>
</html>
